body{
    background-color: #f2f4f8;
}

.select_box{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 30px;
    gap: 15px;
}

.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.names_box{
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
    
  
}
.card_person{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    font-size: 15px;
    gap: 15px;
    border: 2px white solid;
    border-radius: 10px;
    max-width: calc(100% / 3.1);
    margin-top: 30px;
    background-color: white;
    flex-wrap: wrap;
}

.img_pessoa{
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.btn{
    border: 1.5px grey solid;
    color: white;
    margin-bottom: 15px;
    background-color: #181818;
    margin-top: 15px;
}

.salas{
    border-radius: 30px;
    background-color: #f2f4f8;
}
#cars{
    border-radius: 10px;
    background-color: #f2f4f8;
}
.input_dom{
    border-radius: 15px;
}